<title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title | strip_html }}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" type="text/css">
<script src="{{ site.url }}/assets/js/theme.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.bundle.min.js"></script>
<link href="{{ site.url }}/assets/css/bootstrap-icons.min.css" rel="stylesheet">
