<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>

<body>
	<div class="container py-3">
		{% include header.html %}
		
		<div class="pb-2 mx-auto">
			<h1 class="display-4 fw-normal text-body-emphasis text-center">Charting</h1>
			<p class="fs-5">Hello! I'm offering drum only charts for Clone Hero and YARG. These charts will be as accurate as possible on expert difficulty, which mostly follows RBN standards (such as flams being R+Y). You can find previews of my existing charts on <a href="https://www.youtube.com/@ceruleancharts">youtube</a> to get a better understanding of how I chart.</p>

			<h2>Pricing</h2>
			<p>The pricing of a song has a couple different variables, but it's mostly determined by song length and how much tempo mapping is required. As you may know, tempo mapping takes a good amount of time, which is why pricing can be so various.</p>
			<p><i>Prices are in USD.</i></p>
		</div>
		
		<div class="row row-cols-1 row-cols-md-2 text-center">
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm border-primary">
					<div class="card-header py-3 text-bg-primary border-primary">
						<h4 class="my-0 fw-normal">Standard</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">{% if page.discount == true %}<del class="text-secondary">${{ page.standard }}</del> ${{ page.standard | minus: page.damount }}{% else %}${{ page.standard }}{% endif %}<small class="text-body-secondary fw-light">/minute</small></h1>
						<p class="mb-1">Standard rate for studio songs</p>
						<p><i>* If the song requires little to no tempo mapping, I'll subtract a dollar per minute</i></p>
						<a href="//discord.com/users/97774516968648704" role="button" class="w-100 btn btn-lg btn-primary">Contact me</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">
					<div class="card-header py-3">
						<h4 class="my-0 fw-normal">Live Recordings</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">{% if page.discount == true %}<del class="text-secondary">${{ page.lr }}</del> ${{ page.lr | minus: page.damount }}{% else %}${{ page.lr }}{% endif %}<small class="text-body-secondary fw-light">/minute</small></h1>
						<p class="mb-1">Live recordings require extensive tempo mapping</p>
						<p><i>* In some cases, this can also include studio songs that are not played to a metronome</i></p>
						<a href="//discord.com/users/97774516968648704" role="button" class="w-100 btn btn-lg btn-outline-primary">Contact me</a>
					</div>
				</div>
			</div>
		</div>

		<div class="pb-3">
			<h2>What You Get</h2>

			<div class="list-group">
				<div class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Song File</h5>
					</div>
				 	<p class="mb-1">High quality .ogg song file with a count in</p>
				</div>
				<div class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Metadata + Album Artwork</h5>
					</div>
					<p class="mb-1">Full song information so it shows up properly in game</p>
				</div>
				<div class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">.mid Chart File</h5>
						<small>* = where applicable</small>
					</div>
					<p class="mb-1">Each chart will have the following</p>
					<ul>
						<li>Sections (intro/verse/chorus/etc)</li>
						<li>Star Power + Activations</li>
						<li>Lanes*</li>
						<li>Solos*</li>
						<li>Accent and Ghost notes*</li>
						<li>2x Kicks*</li>
						<li>Disco Flip*</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="pb-3">
			<h2>Extras</h2>
			<div class="list-group">
				<div class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Lower Difficulties</h5>
						<small>{% if page.discount == true %}<del class="text-secondary">${{ page.ldper }}</del> ${{ page.ldper | minus: page.damountper }}{% else %}${{ page.ldper }}{% endif %} per difficulty or {% if page.discount == true %}<del class="text-secondary">${{ page.ldtotal }}</del> ${{ page.ldtotal | minus: page.damount }}{% else %}${{ page.ldtotal }}{% endif %} for all three</small>
					</div>
				 	<p class="mb-1">Want to play Hard, Medium, or Easy? Include lower difficulties charted by hand</p>
					
				</div>
				<div class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Lyrics</h5>
						<small>{% if page.discount == true %}<del class="text-secondary">${{ page.lyrics }}</del> ${{ page.lyrics | minus: page.damount }}{% else %}${{ page.lyrics }}{% endif %} per minute</small>
					</div>
					<p class="mb-1">Want to sing along? Include lyrics precisely synced per syllable</p>
				</div>
				<div class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Music Video</h5>
						<small>{% if page.discount == true %}<del class="text-secondary">${{ page.mv }}</del> ${{ page.mv | minus: page.damount }}{% else %}${{ page.mv }}{% endif %}</small>
					</div>
					<p class="mb-1">Want to have an engaging background? Provide a music video for me to sync with the chart</p>
				</div>
			</div>
		</div>

		<div>
			<h2>Terms</h2>
			<ul>
				<li>The song must be obtainable in high enough quality (low quality makes it very difficult to chart)</li>
				<li>The commissioner must pay half of the cost up front and the remaining half once I have completed the chart</li>
				<li>Payment must be made via cashapp or venmo</li>
				<li>By default, I'll note who commissioned the track in the song loading message (if you would like to remain anonymous, please let me know)</li>
				<li>If I am uncomfortable with charting the song for any reason, I can reject the commission</li>
			</ul>

			<h2>About Me</h2>
			<p>I first got into charting back in May 2023. Since then, I've learned a lot about the process and after a full year, I'm comfortable enough to start taking commissions. Playing drums has always been my favorite out of all the instruments that can be played. I have an Alesis Nitro Mesh kit, which is about the standard kit most people buy to play casually.</p>

			<h2>The Process</h2>
			<p>I start by downloading the audio in FLAC, if possible. I get the bpm of the song and add a count in as all RB songs do. Then the audio gets transcoded to Vorbis (.ogg) 256kbps for the best quality. From there, I start in MoonScraper and set the song sections. I use AI stems using demucs to help chart drums and make sure the song is properly tempo mapped. Then I place all the notes, do a quick run of lyrics (to be properly synced later) and convert to a REAPER project. I then add star power and activations, lower difficulties, and sync lyrics. After everything is done, I export as notes.mid and zip it up.</p>
		</div>

		<div class="accordion">
			<h2>Q&A</h2>

			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#qa1" aria-expanded="true" aria-controls="qa1">How long will it take?</button>
				</h2>
				<div id="qa1" class="accordion-collapse collapse show">
					<div class="accordion-body">It varies greatly depending on how long the song is, how difficult it is, and how many other commissions I have. You will be notified when I start and given a very general timeframe based on the song.</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qa2" aria-expanded="false" aria-controls="qa2">Other charters include lyrics in the base price, why don't you?</button>
				</h2>
				<div id="qa2" class="accordion-collapse collapse">
					<div class="accordion-body">When I add lyrics, I go syllable by syllable in REAPER to ensure each one is synced closely to the song. It's a very slow but precise process that warrants extra compensation for the time taken.</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qa3" aria-expanded="false" aria-controls="qa3">Why don't you offer other instruments?</button>
				</h2>
				<div id="qa3" class="accordion-collapse collapse">
					<div class="accordion-body">I'm not familiar enough with the other instruments to take commissions for them. The only other one I might consider is vocals for YARG.</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qa4" aria-expanded="false" aria-controls="qa4">Why use two different programs?</button>
				</h2>
				<div id="qa4" class="accordion-collapse collapse">
					<div class="accordion-body">When starting, it's easier to visualize the chart using MS. REAPER offers more functionality, especially when it comes to things like lanes, solos, and disco flip. TLDR: They both have their strong points, so I get the best of both worlds.</div>
				</div>
		  	</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qa5" aria-expanded="false" aria-controls="qa5">Have another question?</button>
				</h2>
				<div id="qa5" class="accordion-collapse collapse">
					<div class="accordion-body">Send me a message on discord @itscerulean</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
</body>
</html>