<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	{% include head.html %}
</head>

<body class="d-flex h-100 text-center text-bg-dark bg-shadow">
    <div class="background"></div>

	<div class="container py-3">
        <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
            <div class="mb-auto" data-bs-theme="dark">{% include header.html %}</div>
            <main class="px-3">
                <h1>Hello there</h1>
                <p class="lead">This is a landing page for a website that hosts a few of my personal projects.<br>There's not a whole lot to explore here, but feel free to use the links above to navigate around.</p>
            </main>
            <footer class="mt-auto"></footer>
        </div>
    </div>
</body>